{{template  "header"}}
<head>
    <link rel="stylesheet" href="/assets/task_style.css">
</head>
<meta charset="UTF-8">
<table>
    <tr>
        <td colspan="2">
            <h1>
                <p class="center">
                    {{.Title}}
                </p>
            </h1>
        </td>
    </tr>
    <tr>
        <td>ID</td>
        <th>{{.ID}}</th>
    </tr>
    <tr>
        <td>Created at</td>
        <th>{{.CreatedAt}}</th>
    </tr>
    <tr>
        <td>Status</td>
        <th><input type="checkbox" {{ if .IsDone }}checked {{ end }}disabled/>
            <label for="scales">済</label></th>
    </tr>
    <tr>
        <td>Description:</td>
        <th>{{.Description}}</th>
    </tr>
</table>

<a href="/list">
    <button type="button">リストへ戻る</button>
</a>

<a href="/task/edit/{{.ID}}">
    <button type="button">編集</button>
</a>

<a href="/task/delete/{{.ID}}">
    <button type="button">削除</button>
</a>
{{template "footer"}}