{{ template "header" . }}
<head>
    <link rel="stylesheet" href="/assets/task_list_style.css">
</head>
<h1>List of tasks</h1>
<form action="/list" method="GET">
    <input type="text" name="kw" value="{{ .Kw }}">
    <input type="submit" value="検索">
    <br>
    <input type="radio" name="is_done" value="all" checked>
    <label for="all">全て</label><br>

    <input type="radio" name="is_done" value="t">
    <label for="completed">完了済みのみ</label><br>

    <input type="radio" name="is_done" value="f">
    <label for="incomplete">未完了のみ</label><br>
</form>

<p><a href="/task/new">新規登録</a></p>
{{ if not .Tasks }}
    <p>登録データがありません．</p>
{{ else }}
    <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>登録日</th>
            <th>状態</th>
            <th>優先度</th>
        </tr>
        {{ range $task := .Tasks }}
            <tr>
                <td id="id"><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
                <td id="title">{{ $task.Title }}</td>
                <td id="date">
                    <time>{{ $task.CreatedAt.Format "2006/1/2 15:04:05" }}</time>
                </td>
                <td id="status">{{ if $task.IsDone }}済{{ else }}未{{ end }}</td>
                <td id="priority">　
                    <font color="
                    {{ if eq $task.Priority 1 }}
                        #ff6666;
                    {{ else if eq $task.Priority 2 }}
                        #ff0000;
                        {{ else }}
                        #000000;
                    {{ end }}">
                        {{ if eq $task.Priority 0 }}
                            低
                        {{ else if eq $task.Priority 1 }}
                            中
                        {{ else if eq $task.Priority 2 }}
                            高
                        {{ end }}
                    </font>
                </td>
            </tr>
        {{ end }}
    </table>
{{ end }}

<br>

<div class="field">
    <div class="center">
        {{if .HasBeforePage}}
            <form action="/list/{{.BeforePage}}" method="GET">
                <input type="submit" value="前">
            </form>
        {{end}}
    </div>
    <div class="center">
        <text>ページ番号:{{.Page}}</text>
    </div>
    <div class="center">
        {{if .HasAfterPage}}
            <form action="/list/{{.AfterPage}}" method="GET">
                <input type="submit" value="次">
            </form>
        {{end}}
    </div>
</div>


<br>

<div class="field">
    <button type="button" onclick="confirm_logout()">ログアウト</button>
    <button type="button" onclick="confirm_user_update()">ユーザー情報変更</button>
    <button type="button" onclick="confirm_delete_user()">退会</button>
</div>
{{ template "footer" }}

<script type="text/javascript">
    //ログアウトを行うか確認する
    const confirm_logout = () =>{
        if(window.confirm(`ログアウトしますか？`)){
            location.href = `/logout`;
        }
    }

    //ユーザー情報の更新を行うか確認する
    const confirm_user_update = () =>{
        if(window.confirm(`ユーザー情報を変更しますか？`)){
            location.href = `/user/edit`;
        }
    }

    //退会するか確認する
    const confirm_delete_user = () =>{
        if(window.confirm(`退会しますか？`)){
            location.href = `/user/delete`;
        }
    }
</script>
