{{template  "header"}}
<head>
    <link rel="stylesheet" href="/assets/task_style.css">
</head>
<meta charset="UTF-8">
<table>
    <tr>
        <td colspan="2">
            <h1>
                <p class="center">
                    {{.Title}}
                </p>
            </h1>
        </td>
    </tr>
    <tr>
        <td>ID</td>
        <th id = "id">{{.ID}}</th>
    </tr>
    <tr>
        <td>Created at</td>
        <th id = "date">{{.CreatedAt.Format "2006/1/2 15:04:05"}}</th>
    </tr>
    <tr>
        <td>Status</td>
        <th id = "status">{{ if .IsDone }}済{{ else }}未{{ end }}</th>
    </tr>
    <tr>
        <td>Description:</td>
        <th id = "description">{{.Description}}</th>
    </tr>
    <tr>
        <td>Owners:</td>
        <th id="owner">
            {{ range $owner := .Owners }}
                {{$owner.Name }}<br>
            {{ end }}
        </th>
    </tr>
</table>

<a href="/list">
    <button type="button">リストへ戻る</button>
</a>

<br>

<button type="button" onclick="confirm_update({{.ID}})">編集</button>
<button type="button" onclick="confirm_delete({{.ID}})">削除</button>
<button type="button" onclick="confirm_add_owner({{.ID}})">アクセス権付与</button>

<script type="text/javascript">
    //タスクの削除を行うか確認する
    const confirm_delete = (id) =>{
        if(window.confirm(`Task ${id}を削除しますか？`)){
            location.href = `/task/delete/${id}`;
        }
    }

    //タスクの更新を行うか確認する
    const confirm_update = (id) =>{
        if(window.confirm(`Task ${id}を編集しますか？`)){
            location.href = `/task/edit/${id}`;
        }
    }

    //アクセス権の付与を行うか確認する
    const confirm_add_owner = (id) =>{
        if(window.confirm(`Task ${id}にアクセス権を付与しますか？`)){
            location.href = `/task/add_owner/${id}`;
        }
    }
</script>
{{template "footer"}}