td{
    width:30%;
    text-align: right;
}

th{
    width:70%;
    text-align: left;
}

/* 各要素の最大幅を指定 */
#id, #title, #date, #status, #description, #owner{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}
