table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 各要素の最大幅を指定 */
#id, #title, #date, #status, #description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th,td{
    border:solid 1px #aaaaaa;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}